/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #383865a7;
    background: linear-gradient(to left, #c41b1b, #bbd019d7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

/* Container styling */
.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(87, 17, 200, 0.958);
    width: 500px;
}

/* Headings */
h1 {
    text-align: center;
    color: #453582;
}

p {
    text-align: center;
    color: #666;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
